spring:
  datasource:
    password: # DB 비밀번호
  security:
    oauth2:
      client:
        registration:
          naver:
            client-id: # 네이버 클라이언트 ID
            client-secret: # 네이버 클라이언트 시크릿
          google:
            client-id: # 구글 클라이언트 ID
            client-secret: # 구글 클라이언트 시크릿

jwt:
  secret: # JWT 시크릿 키 (32자 이상)
